<div class="questions-container panel panel-default">
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label for="question">Question</label>
				<textarea id="question" class="form-control" rows="3"
					placeholder="enter question here"></textarea>
			</div>
		</form>
		<div>
			<form class="form-inline">
				<div class="form-group">
					<label>choice</label>
					<textarea rows="1" class="form-control" style="width: 800px"
						placeholder="enter choice here"> </textarea>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" tooltip="check here if this choice is correct"  tooltip-trigger="mouseenter"> is correct
					</label>
				</div>
			</form>
		</div>
		
	</div>
</div>
