<div class="questions-container panel panel-default">
	<div class="panel-body">
		
		<span ng-hide="questions.length"> No Data </span>
		<!-- <div ng-repeat="question in questions" ng-show="questions.length"> -->
		<!-- 	<label><strong>{{question.question}}?</strong></label> <br> <span -->
		<!-- 		ng-repeat="tag in question.tags"><em -->
		<!-- 		class="btn btn-default btn-xs disabled">{{tag.name}}</em><span> -->
		<!-- 	</span></span> -->
		<!-- 	<div ng-show="question.choices"> -->
		<!-- 		<div ng-repeat="choice in question.choices"> -->
		<!-- 			<div ng-class="{'has-success': choice.correctness===true}"> -->
		<!-- 												<div class="has-success"> -->
		<!-- 				<input type="checkbox" ng-model="choice.selected" /> <label -->
		<!-- 					class="control-label">{{choice.text}}</label> -->
		<!-- 			</div> -->
		<!-- 		</div> -->
		<!-- 	</div> -->
		<!-- </div> -->
		<div ng-show="questions.length">
			  <!--    numPages: An optional expression assigned the total number of pages to display. -->
			<label><strong>Question {{currentPage}}/{{numPages}} : {{currentQuestion().question}}?</strong></label> <br> 
			<span ng-repeat="tag in currentQuestion().tags">
				<em class="btn btn-default btn-xs disabled">{{tag.name}}</em>
			</span>
<!-- 			<div ng-show="currentQuestion().choices.length"> -->
				<div ng-repeat="choice in currentChoices()">
<!-- 					<div ng-class="{'has-success': choice.correctness===true}"> -->
<!-- 					<div class="has-success"> -->
					<input type="checkbox" ng-model="choice.selected" /> 
					<label class="control-label">{{choice.text}}</label>
					<img ng-show="choice.correctness" src="resources/img/small_tick.png">
				</div>
<!-- 			</div> -->
		</div>
		<div ng-show="questionsWithCorrectAnswer.length">
			<label> good choices: {{goodChoiceNum}}, wrong choices:
				{{badChoiceNum}}, wrong answer: {{wrongAnswer}}</label>
		</div>
	</div>
</div>
<div>
	<button class="btn btn-primary" ng-click="sendChoices()">
	Finish</button>
</div>
<pagination total-items="totalItems" ng-model="currentPage" max-size="maxPaginationSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>


